@tailwind base;
@tailwind components;
@tailwind utilities;

.brand {
  font-family: Outfit;
}

.full {
  @apply w-full h-full
}

textarea:focus {
  outline: none
}

input {
  @apply p-1 border rounded
}

p.error {
  @apply text-red-600
}

p.success {
  @apply text-green-600
}

button {
  @apply p-1 min-w-[4rem] border rounded hover:bg-gray-100 
}

button:disabled {
  @apply bg-gray-100 text-gray-400
}
