@tailwind base;
@tailwind components;
@tailwind utilities;

.brand {
  font-family: Outfit;
}

.full {
  @apply w-full h-full
}

.tooltip {
  @apply invisible absolute
}

.has-tooltip:hover .tooltip {
  @apply visible z-50
}

textarea:focus {
  @apply outline-none dark:outline dark:caret-white
}

input {
  @apply p-1 border rounded
}

p.error {
  @apply text-red-600 dark:text-red-400
}

p.success {
  @apply text-green-600 dark:text-green-300
}

button {
  @apply p-1 min-w-[4rem] border rounded hover:bg-gray-100 
}

button:disabled {
  @apply bg-gray-100 text-gray-400
}

body, a:not(.search-item-row), p, input, label, button {
  @apply dark:bg-zinc-800 dark:text-white
}

a.unselected-search-item-row {
  @apply dark:text-zinc-400
}

button:disabled {
  @apply dark:bg-zinc-800 dark:text-zinc-400
}

button:hover:enabled, button:hover:enabled > * {
  @apply dark:bg-zinc-700
}

